*.gz
*.log
*.out
*.err
*.bam
*.sam
*.bai
*.bw
gencode.vM25.basic.annotation.gtf
**/cache/
Archive/

results_old/

./results/analysis/Neu_chromatin_changes_all.csv
./results/analysis/NSC_chromatin_changes_significant.csv
./results/analysis/NSC_chromatin_changes_all.csv
./results/analysis/Neu_chromatin_changes_significant.csv
0_helpers/
ratio_analysis/adapters/TruSeq3-SE-2.fa
ratio_analysis/mm10/
ratio_analysis/references/
ratio_analysis/results/bam/
ratio_analysis/results/py_implementation/tmp/
ratio_analysis/results/py_implementation_with_blacklist/merged_blacklist.bed
